html{
    font-size: 62.5%;
    height: 100%;
}
body{
    margin: 0;
}
.header{
    position: fixed;
    margin: 0;
    background-color: #5fc0cd;
    color: white;
    height: 7.3rem;
    width: 100%;
    z-index: 1000;
}
.back{
    position: absolute;
    margin:0;
    left: 2.1rem;
    top: 3rem;
}
.pagename{
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    font-size: 3rem;
}
.personal-information{
    background-image: url("task5-bgimg.png");
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    color: white;
}
.head{
    padding-left: 2rem;
    padding-top: 13rem;
    padding-bottom: 7rem;
}
.name{
    font-size: 3rem;
    position: absolute;
    top: 12rem;
    left: 19rem;
}
.age{
    font-size: 2.3rem;
    position: absolute;
    top: 13.5rem;
    left: 27rem;
}
.adress{
    font-size: 2rem;
    position: absolute;
    top: 17rem;
    left: 19rem;
}
.main{
    position: relative;
    margin-bottom: 5rem;
}
.skill{
    font-size: 2.6rem;
    padding-left: 0.8rem;
    margin: 1.5rem 1.3rem ;
    border-left-style: solid;
    border-left-color: #5fc0cd;
    border-left-width: 2px;
}
.introduce{
    top: -1rem;
    font-size: 2.6rem;
    border-top: solid 1px #e1e5e7;
    border-bottom: solid 1px #e1e5e7;
}
.req-inf{
    margin:0;
    padding-bottom: 0.8rem;
}
.inhome{
    font-size: 2.6rem;
    background-image: url("task5-starb.png");
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 2rem;
    padding-right: 0.5rem;
    line-height: 85%;
    border-right: solid #e1e5e7 0.5px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.notfood{
    margin-bottom: 1rem;
    font-size: 2.6rem;
    background-image: url("task5-starb.png");
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 1.9rem;
    line-height: 85%;
}
li{
    border-top: solid #e1e5e7 1px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-right: 0.8rem;
}
.print {
    padding-left: 0.8rem;
    padding-right:1rem;
    position: absolute;
    border-right: solid 1px #e1e5e7;
    color: #999999;
}
.point{
    position: relative;
}
.print-p {
    position: absolute;
    top: 20%;
    padding-left: 0.8rem;
    padding-right:1rem;
    position: absolute;
    border-right: solid 1px #e1e5e7;
    color: #999999;
}
.ans{
    margin-left: 12rem;
}
.ans-text{
    color: red;
    margin-left: 12rem;
}
ul{
    margin-bottom: 0;
    padding-left: 1rem;
    list-style:none;
}
.footer{
    line-height: 4rem;
    width: 100%;
    cursor: pointer;
    bottom: 0;
    position: fixed;
    right: 0;
    left:0;
    background-color: white;
}
.massage{
    text-align: center;
    display: inline-block;
    font-size: 2.8rem;
    text-decoration: none;
    border: solid #5fc0cd ;
    border-radius: 8px;
    color: #5fc0cd;
    background-color: white;
    width: 43%;
    margin-right: 3%;
    margin-left: 2%;
}
.callphone{
    display: inline-block;
    text-align: center;
    background-color: #5fc0cd;
    color: white;
    font-size: 2.8rem;
    border: solid #5fc0cd;
    border-radius: 8px;
    width: 43%;
    float: right;
    margin-right: 2%;
}
/*@media screen and (max-width: 500px){
    .massage,.callphone,.introduce,.inhome,.notfood,.skill,.pagename,.name,.age,.adress{
        font-size: 75%;
    }
*/